@font-face {
    font-family: 'Amplify';
    src: url('/fonts/Amplify.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amplify Light';
    src: url('/fonts/AmplifyLight.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Benton Sans';
    src: url('/fonts/BentonSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Benton Sans';
    src: url('/fonts/BentonSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Benton Sans';
    src: url('/fonts/BentonSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Pro';
    src: url('/fonts/TisaPro.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Pro Italic';
    src: url('/fonts/TisaPro-Ita.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Pro Bold';
    src: url('/fonts/TisaPro-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tisa Pro Bold Italic';
    src: url('/fonts/TisaPro-BoldIta.otf');
    font-weight: normal;
    font-style: normal;
}